/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #f8f7fc;
  color: #18253d;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-column-start {
  justify-content: flex-start;
}

.flex-column-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.w-num {
  width: 25%;
}

.w-num {
  width: 50%;
}

.w-num {
  width: 75%;
}

.w-num {
  width: 100%;
}

.h-num {
  height: 25%;
}

.h-num {
  height: 50%;
}

.h-num {
  height: 75%;
}

.h-num {
  height: 100%;
}

.m-num {
  margin: 0;
}

.mt-num {
  margin-top: 0;
}

.mr-num {
  margin-right: 0;
}

.mb-num {
  margin-bottom: 0;
}

.ml-num {
  margin-left: 0;
}

.mx-num {
  margin-left: 0;
  margin-right: 0;
}

.my-num {
  margin-top: 0;
  margin-bottom: 0;
}

.m-num {
  margin: 0.25rem;
}

.mt-num {
  margin-top: 0.25rem;
}

.mr-num {
  margin-right: 0.25rem;
}

.mb-num {
  margin-bottom: 0.25rem;
}

.ml-num {
  margin-left: 0.25rem;
}

.mx-num {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-num {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-num {
  margin: 0.5rem;
}

.mt-num {
  margin-top: 0.5rem;
}

.mr-num {
  margin-right: 0.5rem;
}

.mb-num {
  margin-bottom: 0.5rem;
}

.ml-num {
  margin-left: 0.5rem;
}

.mx-num {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-num {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-num {
  margin: 0.75rem;
}

.mt-num {
  margin-top: 0.75rem;
}

.mr-num {
  margin-right: 0.75rem;
}

.mb-num {
  margin-bottom: 0.75rem;
}

.ml-num {
  margin-left: 0.75rem;
}

.mx-num {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-num {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-num {
  margin: 1rem;
}

.mt-num {
  margin-top: 1rem;
}

.mr-num {
  margin-right: 1rem;
}

.mb-num {
  margin-bottom: 1rem;
}

.ml-num {
  margin-left: 1rem;
}

.mx-num {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-num {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-num {
  margin: 1.25rem;
}

.mt-num {
  margin-top: 1.25rem;
}

.mr-num {
  margin-right: 1.25rem;
}

.mb-num {
  margin-bottom: 1.25rem;
}

.ml-num {
  margin-left: 1.25rem;
}

.mx-num {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-num {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-num {
  margin: 1.5rem;
}

.mt-num {
  margin-top: 1.5rem;
}

.mr-num {
  margin-right: 1.5rem;
}

.mb-num {
  margin-bottom: 1.5rem;
}

.ml-num {
  margin-left: 1.5rem;
}

.mx-num {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-num {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-num {
  margin: 1.75rem;
}

.mt-num {
  margin-top: 1.75rem;
}

.mr-num {
  margin-right: 1.75rem;
}

.mb-num {
  margin-bottom: 1.75rem;
}

.ml-num {
  margin-left: 1.75rem;
}

.mx-num {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-num {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-num {
  margin: 2rem;
}

.mt-num {
  margin-top: 2rem;
}

.mr-num {
  margin-right: 2rem;
}

.mb-num {
  margin-bottom: 2rem;
}

.ml-num {
  margin-left: 2rem;
}

.mx-num {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-num {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-num {
  padding: 0;
}

.pt-num {
  padding-top: 0;
}

.pr-num {
  padding-right: 0;
}

.pb-num {
  padding-bottom: 0;
}

.pl-num {
  padding-left: 0;
}

.px-num {
  padding-left: 0;
  padding-right: 0;
}

.py-num {
  padding-top: 0;
  padding-bottom: 0;
}

.p-num {
  padding: 0.25rem;
}

.pt-num {
  padding-top: 0.25rem;
}

.pr-num {
  padding-right: 0.25rem;
}

.pb-num {
  padding-bottom: 0.25rem;
}

.pl-num {
  padding-left: 0.25rem;
}

.px-num {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-num {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-num {
  padding: 0.5rem;
}

.pt-num {
  padding-top: 0.5rem;
}

.pr-num {
  padding-right: 0.5rem;
}

.pb-num {
  padding-bottom: 0.5rem;
}

.pl-num {
  padding-left: 0.5rem;
}

.px-num {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-num {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-num {
  padding: 0.75rem;
}

.pt-num {
  padding-top: 0.75rem;
}

.pr-num {
  padding-right: 0.75rem;
}

.pb-num {
  padding-bottom: 0.75rem;
}

.pl-num {
  padding-left: 0.75rem;
}

.px-num {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-num {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-num {
  padding: 1rem;
}

.pt-num {
  padding-top: 1rem;
}

.pr-num {
  padding-right: 1rem;
}

.pb-num {
  padding-bottom: 1rem;
}

.pl-num {
  padding-left: 1rem;
}

.px-num {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-num {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-num {
  padding: 1.25rem;
}

.pt-num {
  padding-top: 1.25rem;
}

.pr-num {
  padding-right: 1.25rem;
}

.pb-num {
  padding-bottom: 1.25rem;
}

.pl-num {
  padding-left: 1.25rem;
}

.px-num {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-num {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-num {
  padding: 1.5rem;
}

.pt-num {
  padding-top: 1.5rem;
}

.pr-num {
  padding-right: 1.5rem;
}

.pb-num {
  padding-bottom: 1.5rem;
}

.pl-num {
  padding-left: 1.5rem;
}

.px-num {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-num {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-num {
  padding: 1.75rem;
}

.pt-num {
  padding-top: 1.75rem;
}

.pr-num {
  padding-right: 1.75rem;
}

.pb-num {
  padding-bottom: 1.75rem;
}

.pl-num {
  padding-left: 1.75rem;
}

.px-num {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-num {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-num {
  padding: 2rem;
}

.pt-num {
  padding-top: 2rem;
}

.pr-num {
  padding-right: 2rem;
}

.pb-num {
  padding-bottom: 2rem;
}

.pl-num {
  padding-left: 2rem;
}

.px-num {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-num {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*# sourceMappingURL=main.css.map */
